*{
    overflow: auto;

}
/*header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}
header.logo{
    position: fixed;
    max-width: 100px;
}
header ul{
    position:absolute;
    display:contents;
}
header ul li{
    list-style:none;
    
}
header ul li a{
    display:inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    
 }
 input[type="Search"] {
    display: block;
    width: calc(100% - 24px); 20px [ left & Right ] padding + 4px border [ left & Right ] 
    font-size: 18px;
    font-weight: 600;
    color: #4b00ff;
    padding: 10px;
    border: 2px solid #4b00ff;
    border-radius: 20%;
} */

/* @media screen and (max-width: 1200px){

    .probs{

        width: 400px;
        color: red;
    }
    .onemore{

        width:40vw;
        
    }
    section{

        width:100%;
}
.accordion{
     
    width: 40%;
}
} */

/* @media screen and (max-width: 1200px){

    .probs .probscard2{

        width: 400px;
        color: red;
        
    }
    
} */
.panel{
    width:40vw;
    min-height: 50px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
    box-sizing: border-box;
    border-image-width: auto;
    margin-left: 400px;
    /* margin-top: 10px; */
    overflow: hidden;
}

.panel .panelcard2{
    position: absolute;
    width: 25%;
    height: 750px;
    border: #333;
    border-color: #333;

    background: white;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 2;
    box-sizing: border-box;
    padding: 04px;
    margin-left: 220px;
    font-size: 18px;
    margin-top: 250px;
    outline: gray;
    outline-offset: 0ch;
    outline-style:solid;
}
.panel .panelcard2 b{

    font-weight: bold;
    margin-left: 07px;
    
}
first h4{

    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
}
first ul li{

    margin-left:-25px;
    font-weight: lighter;
} 
first p1{

    margin-left: 15px;
    font-weight: lighter;
}


button0{
     
    /* margin-left: 70px; */
    position: relative;
    align-items: center;
    border: none;
    cursor: hand;
    display: inline-flex;
    /* min-width: 8rem; */
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
   box-sizing: border-box;
   background-color: #a435f0;
   color: #fff;
  height: 4.2rem;
 font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.6rem;
    width: 70%;
    margin-left: 50px;
}
button1{
    position: relative;
    align-items: center;
    border: none;
    cursor: hand;
    display: inline-flex;
    /* min-width: 4rem; */
    padding: 0 1.1rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
   box-sizing: border-box;
   background-color: white;
   color: black;
  height: 4.2rem;
 font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.6rem;
    width: 70%;
    outline: #000000;
    outline-offset: 0ch;
    outline-style:solid;
    margin-left: 50px;
}

.downpanel{
    width:40vw;
    min-height: 50px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
    box-sizing: border-box;
    border-image-width: auto;
    margin-left: 400px;
    /* margin-top: 10px; */
    overflow: hidden;
}

.downpanel .downpanelcard6{
    position: absolute;
    width: 25%;
    height: 250px;
    border: #333;
    border-color: #333;

    background: white;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px;
    margin-left: 220px;
    font-size: 18px;
    margin-top: 903px;
    outline: gray;
    outline-offset: 0ch;
    overflow: hidden;
    outline-style:solid;
}

.downpanel .downpanelcard6 p2{

    margin-left: -15px;
    font-weight: bold;
}

.downpanel .downpanelcard6 p3{

    margin-left: -15px;
    font-weight: lighter;
}

button2{
    position: relative;
    align-items: center;
    border: none;
    cursor: hand;
    display: inline-flex;
    min-width: 4.2rem;
    padding: 0 1.1rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
   box-sizing: border-box;
   background-color: white;
   color: black;
  height: 4.2rem;
 font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -.02rem;
    font-size: 1.4rem;
    width: 79%;
    outline: #000000;
    /* outline-offset: 0ch; */
    outline-style:solid;
    margin-left: 20px;
    overflow: hidden;
}
third{

 padding: 60px;
background-color: #333;
margin-top: 10px;
width: 100%;
height: 40%;
display: block;
display: flex;
box-sizing: border-box;
flex-wrap: wrap;
overflow: hidden;
text-align: justify;
-webkit-text-size-adjust: 100%;
line-height: 1.4;

}
h1{

    margin-left: 70px;
    margin-top: 20px;
    color: white;

}
p{
    margin-left: 70px;
    margin-top: 15px;
    color: white;
    font-size: large;
    font-family: sans-serif;
}
.box{

    width:50vw;
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    box-sizing: border-box;
    line-height: 1.4;
    overflow: hidden;
}
.box .boxcard2{
     position: absolute;
     width: 56%;
     height: 150px;
     border: #333;
     border-color: #333;

     background: white;
     overflow: hidden;
     transition: all 0.5s ease-in;
     z-index: 1;
     box-sizing: border-box;
     padding: 30px;
     margin-left: 125px;
     font-size: 14px;
     outline: grey;
    outline-offset: 0ch;
    
    outline-style:solid;
     
    
}

#new{

color: #000000;
font-size: 18px;
margin-left: -15px;
font-weight: bold;
 }
pre{

    margin-left: -195px;
}
h2{
    margin-top: 150px;
    margin-left: 125px;
}
p2{
    margin-left: 125px;


}
.fourth{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    margin-left: 250px;
    overflow: hidden;

}


.accordion{
    
    width: 40%;
    background-color: #fff;
    margin-left: 125px;
    overflow: scroll;
    outline: grey;
    outline-offset: 0ch;
    outline-style:solid;
    list-style-type: none;

}
.accordion-tab .accordion-toggle{

    display: none;
}
.accordion-tab > label{

    color: black;
    background: #f7f9fa;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 12px 20px;
    cursor: pointer;
    border-top: 1px solid #ddd ;
    


} 
.accordion-tab > label:after{
    content: "\f078";
     font-family: fontawesome; 
    position: absolute;
    top: 13px;
    right: 20px;
    transform:rotate(90deg) ;
    transition: transform .3s;
}
.accordion-tab > .accordion-toggle:checked ~ label:after{
    transform:rotate(0deg) ;


}
.accordion-tab > .accordion-content{

   
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
}
.accordion-tab > .accordion-content li{

    padding:0px;
    line-height: 20px;
    color: #000000;
    margin-left: 15px;
}
.accordion-tab > .accordion-toggle:checked ~ .accordion-content{

    max-height:100vh ;

}

#more {
    display: none;
}
#first{
    color: #000000;
    font-weight: bold;
}
.container h3{

    font-weight: bold;
    font-size: 22px;
    margin-left: -01px;

}

.container h4{

    font-weight: bold;
    font-size: 22px;
    margin-left: -01px;
}



footer{

    padding: 50px;
   background-color:white;
   margin-top: 05px;
   width: 43%;
   overflow:hidden;
   height: 250%;
   margin-left: 77px;
}
footer ul li{

    margin-left: -38px;
    color: black;
    list-style-position: inside;
}

/* @media screen and (max-width: 900px){

    #third{

        width: auto;
        color: green;
        font-style: italic;
    }
} */
    

